/captures
.externalNativeBuild
.cxx
*.iml
__pycache__
accmng/config.properties
accmng/newrelic.properties
client_secrets.json
*.apk
*.log
.DS_Store
local.properties
*/bin/
*/market/
*/gen/
*/review/
*/obj/
*/out/
*/.project
*/.classpath
*/.settings/
*/.externalToolBuilders/
*/.idea/
**/*.iml
*/classes/
**/target
*/.DS_Store
*/local.properties
**/build/
*/gradle/local.properties
*/gradle/gradlew.bat
*/gradle/gradlew
*/gradle/gradle/wrapper/gradle-wrapper.properties
*/gradle/gradle/wrapper/gradle-wrapper.jar
**/.svn/
.idea/
out/
.gradle/
*.hprof

